.title {
	font-family: "jua";

	display: flex;
	flex-direction: column;

	align-items: center;

	color: var(--color-primary-default);

	h1,
	h2 {
		margin: 0;
		font-weight: 400;

		text-align: center;
	}

	&.landing {
		margin-top: 10vh;

		h1 {
			font-size: 80px;
		}

		h2 {
			font-size: 60px;
			margin-top: -45px;
		}
	}

	&.small {
		h2 {
			margin-top: -15px;
		}
	}
}
