#frame {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: stretch;

	overflow: hidden;

	width: 100svw;
	height: 100svh;

	max-width: 393px;
	max-height: 852px;
	// max-height: 665px;

	@media screen and (min-height: 860px) {
		border-radius: 15px;
	}
}
