.modal-container {
	position: absolute;

	top: 0;
	left: 0;

	z-index: 10;

	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.75);

	&,
	.modal {
		padding: 1.25rem;
	}

	.modal {
		&.only-exit {
			padding: 3.5rem 2.5rem 2.5rem 2.5rem;
		}

		flex: 1;

		position: relative;

		background-color: #fff;
		color: #000;

		border-radius: 1rem;

		gap: 2.5rem;

		&,
		.modal-content {
			display: flex;
			flex-direction: column;
		}

		.modal-content {
			gap: 1.25rem;

			h2,
			p {
				margin: 0;
			}

			h2 {
				font-size: 1.5rem;
				line-height: 1.5rem;
			}

			p {
				white-space: pre-line;
			}
		}

		.cross {
			position: absolute;
			top: 1.25rem;
			right: 1.25rem;

			color: var(--color-others-dark);
		}

		.actions {
			display: flex;
			justify-content: stretch;

			gap: 1.25rem;

			button {
				flex: 1;
			}
		}
	}
}
