#landing {
	z-index: 1;

	align-items: center;
	justify-content: space-between;

	padding: 2.5rem 1.25rem;

	background-color: var(--color-secondary-darker);

	#credits {
		position: absolute;
		top: 1.25rem;
		right: 1.25rem;

		color: var(--color-secondary-default);
		background-color: var(--color-others-light);

		border-radius: 50rem;

		width: 2rem;
		height: 2rem;
	}

	#sprite1 {
		width: 163px;

		left: 41%;
		bottom: 182px;

		@media screen and (max-width: 300px) {
			left: 38%;
		}

		@media screen and (max-width: 250px) {
			left: 36%;
		}
	}

	#sprite2 {
		width: 47px;

		left: 13%;
		bottom: 263px;

		transform: rotate(18deg);
	}

	#image {
		bottom: 100px;
		width: 403px;
	}

	#play {
		display: flex;
		flex-direction: column;

		gap: 1.25rem;

		width: 100%;

		.btn {
			// keep start button highter
			line-height: unset !important;
		}

		@media screen and (min-height: 700px) {
			padding-bottom: 0.625rem;
		}
	}
}
