#home {
	#home-content {
		#infos {
			display: flex;
			justify-content: space-between;

			width: 100%;

			#data {
				display: flex;
				flex-direction: column;

				gap: 0.25rem;

				p {
					margin: 0;
				}
			}

			#turn {
				font-weight: bold;
				text-align: center;

				font-size: 1.5rem;
				line-height: 1.5rem;

				margin: 0;
			}
		}
	}
}
