:root {
	--color-primary-default: #ffbf2b;

	// --color-secondary-default: #0d2f52;
	--color-secondary-default: #173a5d;
	--color-secondary-darker: #082046;

	--color-others-light: #ffffff;
	--color-others-dark: #000000;

	--color-others-alert: #ff3d3d;
	--color-others-valid: #0cbf30;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
}

body {
	font-family: "Baloo 2", sans-serif;

	margin: 0;

	color: var(--color-others-light);
	background-color: var(--color-others-dark);
}

#root {
	display: flex;

	justify-content: center;
	align-items: center;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

p {
	line-height: 19px;
}

button {
	// Reset default button
	background: transparent;
	color: inherit;
	appearance: none;
	display: block;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;

	font-family: "Baloo 2", sans-serif;
	font-size: 16px;
	line-height: 16px;

	cursor: pointer;
}

.btn,
button.btn {
	text-align: center;
	text-decoration: none;

	font-weight: bold;

	&,
	&::before,
	&::after {
		border-radius: 0.5rem;
	}

	&.rounded {
		&::before,
		&::after {
			border-radius: 2rem;
		}
	}

	&.icon {
		position: absolute !important;
		top: 0;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 35px;
		// 35px + 5px delta
		height: 40px;
	}

	&.primary,
	&.valid,
	&.alert {
		position: relative;
		z-index: 0;

		color: var(--color-others-dark);

		$paddingV: calc(0.5rem + 5px);
		$paddingH: 1rem;

		// Coutner bottom space - 2px = - 5px delta + 3px border
		padding: calc($paddingV - 2px) $paddingH calc($paddingV + 2px) $paddingH;

		&:hover {
			padding-top: calc($paddingV + 3px);
			padding-bottom: calc($paddingV - 3px);

			&::before,
			&::after {
				top: 5px;
				bottom: 0;
			}
		}

		&::before,
		&::after {
			content: "";
			z-index: -1;

			position: absolute;
		}

		&::after {
			left: 0;
			right: 0;
			top: 0;
			bottom: 5px;

			border: 3px var(--color-others-dark) solid;
			background-color: var(--color-primary-default);
		}

		&.valid::after {
			background-color: var(--color-others-valid);
		}

		&.alert::after {
			background-color: var(--color-others-alert);
		}

		&::before {
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;

			background-color: var(--color-others-dark);
		}
	}

	&.secondary {
		color: var(--color-primary-default);

		&:hover {
			text-decoration: underline;
		}
	}
}

.view {
	flex: 1;

	position: relative;

	display: flex;
	flex-direction: column;

	&.default {
		background: linear-gradient(var(--color-secondary-darker), var(--color-secondary-default));
		padding: 20px;

		gap: 20px;
	}
}

.content {
	flex: 1;

	display: flex;
	flex-direction: column;

	gap: 20px;

	@media screen and (min-height: 750px) {
		padding: 20px 0;
	}
	@media screen and (min-height: 800px) {
		padding: 40px 0;
	}
}
